* {
	box-sizing: border-box;
}

body {
	border: 5px solid blue;
	/*background-color: orange;*/
}

div {
	/*background-color: orange;*/
	border: 1px solid red;
	color: black;
}

h2 {
	text-align: center;
	font-size: 22px;
}

p {
	font-size: 18px;
}

li {
	text-decoration: decimal;
}

button {
	background-color: blue;
	color: gray;
	padding-right: 12px;
	padding-left: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}